# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# WordPress Files
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/

# Composer
vendor/
composer.lock

# Node
node_modules/
package-lock.json

# Logs
*.log
error_log
access_log

# Environment Files
.env
.env.*
!.env.example 